@inherits UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
    var homepage = Model.Content.AncestorOrSelf("Homepage");
    var currentMenuId = homepage.GetPropertyValue<int>("todaysMenu");
    var menu = Umbraco.TypedContent(currentMenuId);
}
@section Scripts {
    <script src="/Scripts/LunchApp.js"></script>
    <script src="/Scripts/LunchApp.Profile.js"></script>
}
<!-- Portfolio -->
<section>
    <div>
        <div class="row">
            <div class="8u skel-cell-important">
                <!-- Content -->
                <article class="box is-post">
                    <header>
                        <h2>Profile</h2>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span class="byline">Welcome @User.Identity.Name</span>
                        }
                        else
                        {
                            <span class="byline"><a href="/login/">Login</a> or <a href="/register/">Register</a></span>
                        }
                    </header>
                    <p>
                        Vestibulum scelerisque ultricies libero id hendrerit. Vivamus malesuada quam faucibus ante dignissim auctor
                        hendrerit libero placerat. Nulla facilisi. Proin aliquam felis non arcu molestie at accumsan turpis commodo.
                        Proin elementum, nibh non egestas sodales, augue quam aliquet est, id egestas diam justo adipiscing ante.
                        Pellentesque tempus nulla non urna eleifend ut ultrices nisi faucibus.
                    </p>
                    <p>
                        Praesent a dolor leo. Duis in felis in tortor lobortis volutpat et pretium tellus. Vestibulum ac ante nisl,
                        a elementum odio. Duis semper risus et lectus commodo fringilla. Maecenas sagittis convallis justo vel mattis.
                        placerat, nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc,
                        eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean
                        elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
                        sit amet nullam consequat feugiat dolore tempus.
                    </p>
                    <section>
                        <header>
                            <h3>So in conclusion ...</h3>
                        </header>
                        <p>
                            Nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc,
                            eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean
                            elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
                            sit amet nullam consequat feugiat dolore tempus. Elementum odio duis semper risus et lectus commodo fringilla.
                            Maecenas sagittis convallis justo vel mattis.
                        </p>
                    </section>
                </article>
            </div>
            <div class="4u">
                <!-- Sidebar -->
                <section class="box">
                    <a href="http://facebook.com/DreametryDoodle" class="image image-full"><img src="/images/pic09.jpg" alt="" /></a>
                    <header>
                        <h3>Current lunch order</h3>
                    </header>
                    <span id="TodaysMenu" data-menu="@menu.Id"><strong>Today: @menu.GetPropertyValue("supplier")</strong></span>
                    <p>Below is your current order for today</p>
                    <ul id="TodaysOrder">
                    </ul>
                    <footer>
                        <a id="ResetOrder" href="#" class="button alt">Reset Order</a>
                    </footer>
                </section>
                <section class="box">
                    <header>
                        <h3>Favorite food items</h3>
                    </header>
                    <p>Below is your favorite food items. The ones that are marked in bold match items that are available in Todays menu.</p>
                    <ul class="divided">
                    </ul>
                    <footer>
                        <a id="OrderFavorites" href="#" class="button alt">Order Favorites</a>
                    </footer>
                </section>
            </div>
            <!-- TODO Possibly insert add-food-form for admins here -->
        </div>
    </div>
</section>