@model Chainbox.FoodApp.ViewModels.IntroductionModel
<!-- Banner -->
<section id="banner">
    <a href="http://facebook.com/DreametryDoodle">
        <span class="image image-full"><img src="/images/pic01.jpg" alt="" /></span>
        <header>
            <h2>@Model.WelcomeHeader</h2>
            <span class="byline">@Model.WelcomeTagline</span>
        </header>
    </a>
</section>